:root {
  /* primary colours */
  --clr-prm-moderate-blue: hsl(238, 40%, 52%);
  --clr-prm-soft-red: hsl(358, 79%, 66%);
  --clr-prm-light-gray-blue: hsl(239, 57%, 85%);
  --clr-prm-pale-red: hsl(357, 100%, 86%);

  /* neutral colours */

  --clr-ntr-dark-blue: hsl(212, 24%, 26%);
  --clr-ntr-gray-blue: hsl(211, 10%, 45%);
  --clr-ntr-light-gray: hsl(223, 19%, 93%);
  --clr-ntr-very-light-gray: hsl(228, 33%, 97%);
  --clr-ntr-white: hsl(0, 0%, 100%);

  /* body font-size */
  --fs-body: 16px;
}

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body, 
h1, 
h2, 
p, 
ul, 
li, 
form, 
input {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--fs-body);
  min-height: 100vh;
  background-color: var(--clr-ntr-very-light-gray);
}

.main-container {
  margin-inline: auto;
  padding-block: 2em;
  max-width: 730px;
}

.comment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.comment-card {
  display: grid;
  grid-template-columns: 36px auto;
  gap: 1.5em;

  padding: 1.5em;
  border-radius: 0.75em;
  background-color: var(--clr-ntr-white);
}

.upvote-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;

  height: fit-content;
  padding: 0.8em;

  border-radius: 0.75em;
  background-color: var(--clr-ntr-very-light-gray)
}

.upvote-bar img {
  width: 10px;
  height: auto;
}

.upvote-bar img:hover {
  color: var(--clr-prm-moderate-blue);
}

.pointer {
  cursor: pointer;
}

.upvote-bar .upvote-number {
  color: var(--clr-prm-moderate-blue);
  font-weight: 500;
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 1em;

  margin-bottom: 1em;
}

.comment-options-container.mobile {
  display: none;
}

.comment-header img {
  max-width: 35px;
  height: auto;
}

.comment-header .name {
  color: var(--clr-ntr-dark-blue);
  font-weight: 700;
}

.comment-header .you-tag {
  padding: 2px 8px 4px;
  font-size: 0.9em;
  color: var(--clr-ntr-white);
  border-radius: 4px;
  background-color: var(--clr-prm-moderate-blue);
}

.comment-header .date {
  color: var(--clr-ntr-gray-blue)
}

.comment-header-options {
  margin-left: auto;
  display: flex;
  gap: 1em;
}

.comment-header-options .delete-button, 
.comment-header-options .edit-button, 
.comment-header-options .reply-button {
  font-weight: 700;
  cursor: pointer;
}

.comment-header-options .delete-button span {
  color: var(--clr-prm-soft-red);
}

.comment-header-options .delete-button:hover span {
  color: var(--clr-prm-pale-red);
}

.comment-header-options .edit-button span, 
.comment-header-options .reply-button span {
  color: var(--clr-prm-moderate-blue);
}

.comment-header-options .edit-button:hover span, 
.comment-header-options .reply-button:hover span {
  color: var(--clr-prm-light-gray-blue);
}

.comment-text-container {
  line-height: 24px;
  color: var(--clr-ntr-gray-blue);
}

.comment-text-container .user-tagged {
  color: var(--clr-prm-moderate-blue);
}

.comment-info-container textarea {
  height: 150px;
}

.comment-replies-container {
  margin-left: auto;
  width: 93.75%; 

  border-left: 2px solid var(--clr-ntr-light-gray);
}

.comment-replies-container .comment-card {
  margin-left: 6.25%;
}

.comment-card.new-comment {
  display: flex;
  align-items: flex-start;
}

.comment-card.new-comment .new-comment-avatar {
  max-width: 40px;
  height: auto;
}

.comment-card.new-comment form {
  width: 100%;
}

.comment-card.new-comment textarea, 
.comment-info-container textarea {
  width: 100%;
  padding: 0.75em 1.5em;

  font-size: var(--fs-body);
  line-height: 24px;

  border: 1px solid var(--clr-ntr-light-gray);
  border-radius: 0.5em;
}

.comment-info-container textarea {
  margin-top: 1em;
}

.comment-card.new-comment textarea.error, 
.comment-info-container textarea.error {
  border: 1px solid var(--clr-prm-soft-red);
}

.comment-card.new-comment textarea.error::placeholder, 
.comment-info-container textarea.error::placeholder {
  color: var(--clr-prm-soft-red);
}

textarea:focus {
  outline: 1px solid var(--clr-ntr-dark-blue);
}

.button {
  padding: 0.9em;
  font-size: 0.9em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
}

.button.comment {
  width: 16.75%;
  color: var(--clr-ntr-white);
  background-color: var(--clr-prm-moderate-blue)
}

.button.reply {
  width: 100%;
}

.button.update {
  display: block;
  margin-left: auto;
  margin-top: 1em;
}

.reply-box-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.reply-box-buttons-container img {
  display: block;
  margin-left: auto;
  width: 15px;
  height: auto;
  cursor: pointer;
}

.delete-modal-container {
  display: none;
  
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;

  padding: 2em;
  width: 400px;

  border-radius: 1em;
  background-color: var(--clr-ntr-white);
}

.delete-modal-container.active {
  display: flex;
}

.dete-modal-container h2 {
  color: var(--clr-prm-light-gray-blue);
}

.delete-modal-container p {
  color: var(--clr-ntr-gray-blue);
}

.delete-modal-container .buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.delete-modal-container .buttons-container button {
  width: 100%;
  font-size: 1.05em;
}

.button.cancel {
  color: var(--clr-ntr-white);
  background-color: var(--clr-ntr-gray-blue);
}

.button.delete {
  color: var(--clr-ntr-white);
  background-color: var(--clr-prm-soft-red);
}

.dark-overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.dark-overlay.active {
  opacity: 1;
  pointer-events: all;
}

footer {
  margin-block: 2em 1em;
  margin-inline: auto;
  width: fit-content;
}

footer a {
  color: inherit;
}

@media screen and (max-width: 600px) {
  .main-container {
    padding-inline: 1em;
  }

  .comment-card {
    display: block;
  }

  .upvote-bar.desktop {
    display: none;
  }

  .comment-header-options.desktop {
    display: none;
  }

  .comment-options-container.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
  }

  .upvote-bar.mobile {
    flex-direction: row;
  }

  .comment-replies-container {
    width: 100%;
  }

  .comment-replies-container .comment-card {
    margin-left: 3.125%;
  }

  .comment-card.new-comment {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  
  .comment-card.new-comment textarea {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .button.comment {
    margin-left: auto;
    width: fit-content;
  }

  .reply-box-buttons-container {
    flex-direction: row-reverse;
    align-items: center;

    height: unset;
  }

  .reply-box-buttons-container img {
    width: 18px;
    height: 22px;
  }

  .delete-modal-container {
    width: 95%;
  }
}